doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/css/semantic.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name="mobile-web-app-capable", content="yes")
  body
    block content
    script.
      if(document.body.requestFullScreen){
        document.body.requestFullscreen();
      }
